@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font: 400;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin-inline: 10%;
}


/* Estilos Generales */

h1,
h2,
h3,
h4 {
  color: black;
  display: inline;
}

h1 {
  font-size: 58px;
  line-height: 1;
}

h2 {
  font-size: 20px;
  background-color: #FCEE21;
}

h3 {
  font-size: 26px;
  background-color: #FCEE21;
}

footer,
main,
header,
aside {
  width: 100%;
}

ul {
  list-style-type: none;
}


/* header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding: 20px;
}

nav ul {
  display: flex;
}

#logo {
  width: 45%;
}

#menu {
  display: flex;
  justify-content: end;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

a:link, a:visited {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}


/* main */

h1 {
  white-space: nowrap;
  flex-wrap: nowrap;
}



main {
  font-size: 21px;
  /* background-color: lightgray; */
}
.grande {
  font-size: 100px;
  font-family: 'Coiny', cursive;
}

#seccion1 {
  width: 80%;
  display: flex;
}

#creadores {
  padding-right: 5%;
}

#somos1 {
  font-size: 50px;
  padding-top: 20px;
}

#wapas {
  font-family: 'Coiny', cursive;
  font-size: 100px;
}

#imagen1 {
  display: flex;
  width: 175%;
}

#seccion2 {
  display: flex;
  /* background-color: aqua; */
}

#hola1 {
  padding-right: 30px;
}

#servicios {
  display: flex;
  padding-top: 20px;
}

#imagen2 {
  display: flex;
  width: 55%;
  padding-top: 20px;
  margin-left: 20%;
}

#serv2 {
  text-transform: uppercase;
  background-color: white;
}

ol li {
  padding-bottom: 10px;
}

#span1 {
  background-color: #FCEE21;
}

#span2 {
  color: red;
}

h4 {
  margin: 0;
  font-size: 50px;
  color: white;
  background-color: black;
  line-height: 100px;
  display: inline;}

#seccion3 {
  display: flex;
  margin-bottom: 100px;
}

#formulario {
  display: flex;
  justify-content: end;
}

form {
  width: 75%;
}

label {
  display: block;
  font-weight: 700;
}

input {
  width: 450px;
  margin-bottom: 20px;
  height: 25px;
}

textarea {
  width: 450px;
  height: 200px;
}

button {
  background-color: black;
  color: white;
  width: 120px;
  height: 25px;
  text-align: center;
  margin-right: 20px;
}

#redes {
  display: inline-flex;
  margin-right: 100px;
}

aside {
  justify-content: center;
}

aside p {
  font-size: 33px;
  color: #808080;
  margin-bottom: 100px;
}

.redes {
  width: 100px;
  margin-right: 100px;
}

/*footer*/

footer {
  height: 50px;
  background-color: #FCEE21;
}

#footer {
  display: flex;
  text-align: center;
}

footer h1 {
  font-family: 'Coiny', cursive;
  font-size: 33px;
}

footer a {
  margin-left: 60px;
  color: #7A7A7A;
  text-decoration: none;
}